:root {
  --bgcolor: #fff;
  --textcolor: #000;
  --highlightcolor: cyan;
  --hightlightedtextcolor: #000;
  --donationbackground: #000;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

body {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bgcolor);
  color: var(--textcolor);
}

.darktheme {
  --bgcolor: #323232;
  --textcolor: #fff;
  --highlightcolor: #2196f3;
  --hightlightedtextcolor: #fff;
  --donationbackground: greenyellow;
}

.darktheme .donation {
  background-image: url(/icons/dollar.svg);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chart-container {
  height: 365px;
}

#chart-container.hidden {
  height: 0;
  display: none;
}

#chart {
  cursor: pointer;
}

#root {
  margin-top: 5px;

  column-count: 2;
  column-gap: 100px;

  list-style-type: none;
}

#root h4 {
  margin: 0;
  padding: 0;
  /* margin-left: 20px; */

  margin-bottom: 1px;
  font-size: 13px;
}

ul {
  margin: 0;
}

ul li {
  font-size: 12px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

ul.subcats {
  padding-left: 15px;
  /* margin-top: 2px; */
}

ul.subcats li {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
}

ul.subcats li:hover {
  text-decoration: underline;
}

ul.subcats li.active {
  font-weight: bold;
  background-color: var(--highlightcolor);
  color: var(--hightlightedtextcolor);
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer > * {
  margin-left: 100px;
  margin-right: 100px;
}

.donation {
  cursor: pointer;
  /* border: 1px solid black; */
  width: 17px;
  height: 17px;
  background-color: var(--donationbackground);
  border-radius: 50%;
  background-image: url(/icons/dollar-green.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  transition: transform 0.5s ease;
}

.donation:hover {
  transform: rotate(360deg);
}
