:root {
  --bgcolor: #fff;
  --textcolor: #000;
  /* --highlightcolor: cyan; */
  --highlightcolor: #2196f3;
  /* --hightlightedtextcolor: #000; */
  --hightlightedtextcolor: #fff;
  --headertextcolor: #2196f3;
  --donationbackground: #000;
  --headertextcolor: #000;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

body {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bgcolor);
  color: var(--textcolor);
}

.darktheme {
  --bgcolor: #323232;
  --textcolor: #ffffff;
  --donationbackground: greenyellow;
}

.darktheme .donation {
  background-image: url(../icons/dollar.svg);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-container {
  margin-top: 10px;
  font-size: 16px;
  line-height: 25px;
  width: 350px;
  text-align: center;
  display: none;
}

.comment-container.visible {
  display: block;
}

#chart-container {
  height: 365px;
}

#chart-container.hidden {
  height: 0;
  display: none;
}

#chart {
  cursor: pointer;
}

#root {
  margin-top: 5px;

  column-count: 2;
  column-gap: 100px;

  list-style-type: none;
}

#root h4 {
  margin: 0;
  padding: 0;
  /* margin-left: 20px; */

  margin-bottom: 1px;
  font-size: 13px;

  color: var(--headertextcolor);
}

#root li {
  break-inside: avoid;
}

ul {
  margin: 0;
}

ul li {
  font-size: 12px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

ul.subcats {
  padding-left: 15px;
  /* margin-top: 2px; */
  page-break-inside: avoid;
  break-inside: avoid;
}

ul.subcats li {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
}

ul.subcats li:hover {
  text-decoration: underline;
}

ul.subcats li.active {
  font-weight: bold;
  background-color: var(--highlightcolor);
  color: var(--hightlightedtextcolor);
}

li.bonus {
  margin-top: 13px;
}

li.bonus ul {
  list-style-type: square;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.donation {
  cursor: pointer;
  /* border: 1px solid black; */
  width: 17px;
  height: 17px;
  background-color: var(--donationbackground);
  border-radius: 50%;
  background-image: url(../icons/dollar-green.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  transition: transform 0.5s ease;
}

.donation:hover {
  transform: rotate(360deg);
}

.rounded {
  border-radius: 50%;
}

.center {
  text-align: center;
}

.limit {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 10px;
}

.limit a {
  color: var(--textcolor);
  text-decoration: none;
}

.limit a::after {
  content: '';
  opacity: 0;
  transition: opacity 1s ease;
}

.limit:hover a::after {
  content: attr(data-next-limit);
  opacity: 1;
}

.rand {
  position: fixed;
  bottom: 0;
  left: 1px;
  font-size: 16px;
}

.contact-link {
  outline: none;
  font-weight: 600;
  color: #00aff0;
  text-decoration: none;
  font-size: 15px;
  line-height: 17px;
}

.contact-link span {
  vertical-align: top;
}

.contact-icon {
  height: 17px;
  width: 17px;
}

.hr {
  margin: 0 auto;
  width: 100px;
  border-top: 1px solid var(--textcolor);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /* background-color: #fefefe; */
  background-color: var(--bgcolor);
  color: var(--textcolor);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content * {
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Old versions of Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.crypto b {
  margin-right: 5px;
}

.method {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.crypto img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@media (max-width: 550px) {
  .crypto, .crypto b {
    font-size: 10px;
  }

}

input[type="color"] {
	opacity: 0;
	display: block;
	width: 17px;
	height: 17px;
	border: none;
  cursor: pointer;
}
#color-picker-wrapper {
	float: left;
  border-radius: 50%;
  cursor: pointer;
  /* border: 1px solid black; */
}
